aiosqlite==0.20.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
defusedxml==0.7.1
et-xmlfile==1.1.0
greenlet==3.0.2
idna==3.6
more-itertools==10.1.0
numpy==1.26.2
odfpy==1.4.1
openpyxl==3.1.2
pandas==2.2.2
psycopg2==2.9.9
PyQt6==6.6.1
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
PySimpleGUI==4.60.5
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.23
tqdm==4.66.4
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.2.1
xlrd==2.0.1
